*{
    background-color: lightblue;
}
p:first-child{
    background-color: black;
    color: white;
}
p:last-of-type{
    color: red;
}
li{
    background-color: gray;
    padding: 10px;
    width: 50%;
}
li:first-child{
    font-size: 22px;
}
li:last-child{
    font-size: 22px;
    background-color:rgb(206, 48, 74);
}
li:nth-child(even){
    background-color: white;
}
li:nth-child(3){
    background-color:rgb(206, 48, 74);
}
li:nth-child(4){
    background-color:rgb(206, 48, 74);
}
