/*  your css code here. If applicable */
/* Set body background color to skyblue */
body {
  background-color: skyblue;
}

/* Set background color of first paragraph to black */
p:first-child {
  background-color: black;
}

/* Set color of last paragraph to red */
p:last-child {
  color: red;
}

/* Set background colors of list items */
ul li:nth-child(1) {
  background-color: white;
}

ul li:nth-child(2) {
  background-color: lightgray;
}

ul li:nth-child(3) {
  background-color: pink;
}
